<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
    <div class="col-sm-3">
        <app-home></app-home>
    </div>
    <div class="col-sm-9">
        <h2><b>Supplier</b></h2>
        <hr>
      <br><br><br>
<div class="row">
  <div class="col-sm-8">
      <h4><b>List of Suppliers</b></h4><br>
            
      <table class="table table-striped" style="display:block;overflow-y:auto;height:250px;">
          <thead class="tablecolor">
            <tr>
              <th>Supplier ID</th>
              <th>Supplier Name</th>
              <th>Supplier Address</th>
              <th></th>
            </tr>
          </thead>
          <tbody >
          
              <tr *ngFor="let supplier of suppliers" >
                  <td>{{ supplier.supplier_id }}</td> 
                  <td>{{ supplier.supplier_name }}</td>
                  <td>{{ supplier.supplier_address }}</td>
                  <td><input type="button"  class="btn" value="View Crop details" (click)="crop_details(supplier.supplier_id)"></td>
              </tr>
      </tbody>
        </table>  
  </div>
<div class="col-sm-4">
    <h4><b>Available Crop's Detail</b></h4><br>
            
    <table class="table table-striped" style="overflow-y:auto;display:block;height:250px;">
        <thead class="tablecolor">
          <tr>
            <th>Crop ID</th>
            <th>Crop Name</th>
            <th>Quantity</th>
            <th>Price</th>

          </tr>
        </thead>
        <tbody id="body_bank">
               
            <tr *ngFor="let crop of cropdetails" >
                <td>{{ crop.crop_id }}</td> 
                <td>{{ crop.crop_name }}</td>
                <td>{{ crop.crop_quantity}}</td>
                <td>{{ crop.crop_price}}</td>
            </tr>
    </tbody>
      </table>  
</div>
</div>          
    </div>
  </div>
  <div class="footer">
        <div class="content">
                <p><br>Copyright &copy; ChainFlux</p>
            </div>
  </div>

